.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    /* đưa 2 thẻ ul lên cùng 1 hàng */
    display: flex;
    /* đẩy 2 thẻ ul ra xa nhau */
    justify-content: space-between;
}

.header__navbar-list {
    /* Xóa dấu chấm trong thẻ ul li */
    list-style: none;   
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr,
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link {
    /* Đưa các thẻ li lên cùng 1 hàng */
    display: inline-block;
    font-size: 1.2rem;
    color: var(--while-color);
    /* Bỏ dấu gạch chân */
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-list,
.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 500;
}

/* Làm dấu gạch giữa */
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

/* di chuột vào mờ đi */
.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    /* di chuột vào hiện con trỏ hình bàn tay */
    cursor: pointer;
}

/* CSS icon */
.header__navbar-icon{ 
    font-size: 1.6rem;
    margin: 0 4px;
}
.header__navbar-icon-link {
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--while-color);
}

/* QR CODE */
.header__qr {
    width: 186px;
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    /* bo góc của qr code */
    border-radius: 2px;
    /* Ẩn đi */
    display: none;
    /* Animation */
    animation: fadeIn ease-in 0.5s;
}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px ;
}
.header__qr-dowload-img{
    height: 16px;
}
/* CSS thông báo */
.header__notify {
position: absolute;
top: 140%;
right: 0;
width: 404px;
border: 1px solid #D2D2D2;
background-color: var(--while-color);
cursor: default;
transform-origin: 90% top;
animation: headerNotifyGrowth ease-in 0.2s;
will-change: opacity, transform;
display: none;
}

.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;

}
.header__notify::after{
    content: "";
    position: absolute;
    top: -20px;
    width: 31%;
    height: 20px;
    display: block;
    right: 0px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header_notify-header{
    height: 40px;
    background-color: var(--while-color);
}
.header_notify-header h3 {
    color: #D8D8D8;
    font-size: 1rem;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;
    cursor: text;
}

.header_notify-list{
padding-left: 0;
}

.header_notify-item{
    display: flex;

}
.header_notify-item:hover{
    background-color: #f1f1f1;
}

.header_notify-item--viewed{
    background-color: rgba(238, 75, 43 , 0.08);
}

.header_notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}
.header_notify-img {
    width: 48px;
    object-fit: contain;
}

.header_notify-info{
    margin-left: 12px;
    
}

.header_notify-name{
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header_notify-descriotion{
    display: block;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #756F6D;
    margin-top: 4px;
}
.header_notify-footer{
    display: flex;
}
.header_notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}